[[mgr.prepend_keymap]]
on = "<Enter>"
run = "plugin smart-enter"
desc = "Enter directory or open file"

[[mgr.prepend_keymap]]
on = ["g", "o"]
run = 'shell -- open "$0"'
desc = "Open folder in Finder"
